*{
    margin: 0;
    padding: 0;
}
body{
    background-color:hsl(40, 15%, 88%);
    text-align: center;
}

.home{
    background-color: aliceblue;
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    background-image: url(2.avif);
    background-size: cover;
    
}

.main-heading{
    font-size: 5vmin;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 10vmin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20vmin;
}
.Playerdels{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
legend{
    font-size: 5vmin;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 10vmin;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10vmin;
    margin-left: 5%;
    
}

input{
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50vmin;
    height: 8vmin;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#startbtn{
    display: inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 30vmin;
    height: 10vmin;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #191913;
    color: white;
    margin-left: 5%;
}

.msg-hidden{
    display: none;
}



.msg-section{
    height: 100vh;
    background-image: url(background-image-3778266.jpg);
    background-size: cover;
   
}

#mar{ 
    height: 30%;
}

.msg{
    margin-top:500px ; 
    color: rgb(229, 229, 220);
    margin: 10px;
    padding: 10px;
    font-size: 6vmin;
    

}


.button-new{
    background-color:rgb(197, 197, 249);
    border: none;
    color: rgb(11, 11, 11);
    padding: 30px 60px;
    border-radius: 0.2rem;
    gap:1.5vmin;
    margin: 1rem;
    cursor: pointer;
    font-size: large;
}


#heading{
    margin-top: 10vh;
}

.game{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:1.5vmin;
   
}

.box{
    background-color: #ededed;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, .2);
    color: rgb(58, 32, 0);
}



.button-reset,.Exit-Game{
    background-color: #191913;
    border: none;
    color: white;
    padding: 2vmin;
    border-radius: 0.2rem;
    gap:1.5vmin;
    margin: 1rem;
    cursor: pointer;
   
}

.game-sec{
    background-image: url(3.avif);

}

#heading{
    font-size: 50px;
    color: #ededed;
}